<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
      <bindings>
        <wsHttpBinding>
          <binding name="WSHttpBinding_IPathService1" maxBufferPoolSize="2000000000"
            maxReceivedMessageSize="2000000000">
            <readerQuotas maxDepth="32" maxStringContentLength="2000000000"
              maxArrayLength="2000000000" />
          </binding>
          <binding name="WSHttpBinding_IPathService" />
        </wsHttpBinding>
      </bindings>
     
        <client>
            <endpoint address="http://localhost:8081/ws/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IPathService1" contract="WebRoutingService.IPathService"
                name="WSHttpBinding_IPathService1">
                <identity>
                    <userPrincipalName value="LAPTOP-SDIIAGRM\pouey" />
                </identity>
            </endpoint>
            
        </client>
    </system.serviceModel>
</configuration>